<div class="big-card">
	<div class="header-btns">
		<ul class="tabs red lighten-1">
			<li class="tab col s3"><a class="active white-text" href="" ng-click="active_card = 'text'">Texto</a></li>
			<li class="tab col s3"><a class="white-text" href="" ng-click="active_card = 'goal'">Gol</a></li>
			<li class="tab col s3"><a class="white-text" href="" ng-click="active_card = 'start'">Inicio</a></li>
			<li class="tab col s3"><a class="white-text" href="" ng-click="active_card = 'match_CA'">Final (CA)</a></li>
			<li class="tab col s3"><a class="white-text" href="" ng-click="active_card = 'match_EC'">Final (EC)</a></li>
		</ul>
	</div>
	<div class="content-slider">
		<div class="wrapper">
			<div class="card" ng-show="active_card == 'text'">
				<div class="card-content row">
					<div class="input-field col s12">
						<textarea id="textarea1" class="materialize-textarea" rows="1" ng-model="text.text"></textarea>
						<label for="textarea1">Mensaje</label>
					</div>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendText()">Enviar</a>
				</div>
			</div>
			<div class="card" ng-show="active_card == 'goal'">
				<div class="card-content row">
					<div class="input-field col s12">
						<input placeholder="" id="scorer" type="text" class="validate" ng-model="goal.scorer_name">
						<label for="scorer">Jugador que marcó el gol</label>
					</div>
					<label>Equipo que marcó el gol</label>
					<div class="input-field col s9 m9">
						<select class="icons browser-default" ng-model="goal.scorer_country">
							<option value="" disabled selected>Seleccione el equipo</option>
							<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
						</select>
						<div class="clearfix">

						</div>
					</div>
					<div class="input-field col s3">
						<input placeholder="" id="scorer" type="number" class="validate" ng-model="goal.minute">
						<label for="scorer">Minuto</label>
					</div>
					<h6>Nuevo marcador</h6>
					<div class="input-field col s9 m9">
						<select class="icons browser-default" ng-model="goal.team_1">
							<option value="" disabled selected>Equipo 1</option>
							<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
						</select>
					</div>
					<div class="input-field col s3 m3">
						<input id="scorer" type="number" class="validate text-center" ng-model="goal.team_1_score">
					</div>
					<div class="input-field col s9 m9 away">
						<select class="icons browser-default" ng-model="goal.team_2">
							<option value="" disabled selected>Equipo 2</option>
							<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
						</select>
					</div>
					<div class="input-field col s3 m3 away">
						<input id="scorer" type="number" class="validate text-center" ng-model="goal.team_2_score">
					</div>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendGoal()">Enviar</a>
				</div>
			</div>
			<div class="card" ng-show="active_card == 'start'">
				<div class="card-content row">
					<div class="input-field col s12 m12 away">
						<select class="icons browser-default" ng-model="start.team_1">
							<option value="" disabled selected>Equipo 1</option>
							<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
						</select>
					</div>
					<div class="input-field col s12 m12 away">
						<select class="icons browser-default" ng-model="start.team_2">
							<option value="" disabled selected>Equipo 2</option>
							<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
						</select>
					</div>
					<div class="input-field col s12">
						<textarea id="textarea2" class="materialize-textarea" rows="1" ng-model="start.comment" length="80" maxLength="80"></textarea>
						<label for="textarea2">Comentario</label>
					</div>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendStart()">Enviar</a>
				</div>
			</div>
		</div>
		<div class="card" ng-show="active_card == 'match_CA'">
			<div class="card-content row">
				<div class="input-field col s9 m9 away">
					<select class="icons browser-default" ng-model="america.match.team_1">
						<option value="" disabled selected>Equipo 1</option>
						<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
					</select>
				</div>
				<div class="input-field col s3 m3 away">
					<input id="scorer" type="number" class="validate text-center" ng-model="america.match.team_1_score">
				</div>
				<div class="input-field col s9 m9 away">
					<select class="icons browser-default" ng-model="america.match.team_2">
						<option value="" disabled selected>Equipo 2</option>
						<option ng-repeat="country in america.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
					</select>
				</div>
				<div class="input-field col s3 m3 away">
					<input id="scorer" type="number" class="validate text-center" ng-model="america.match.team_2_score">
				</div>
				<div class="input-field col s12">
					<textarea id="textarea3" class="materialize-textarea" rows="1" ng-model="america.match.comment" length="80" maxLength="80"></textarea>
					<label for="textarea3">Comentario</label>
				</div>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendMatch('AMERICA')">Enviar</a>
			</div>
		</div>


		<div class="card" ng-show="active_card == 'match_EC'">
			<div class="card-content row">
				<div class="input-field col s9 m9 away">
					<select class="icons browser-default" ng-model="euro.match.team_1">
						<option value="" disabled selected>Equipo 1</option>
						<option ng-repeat="country in euro.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
					</select>
				</div>
				<div class="input-field col s3 m3 away">
					<input id="scorer" type="number" class="validate text-center" ng-model="euro.match.team_1_score">
				</div>
				<div class="input-field col s9 m9 away">
					<select class="icons browser-default" ng-model="euro.match.team_2">
						<option value="" disabled selected>Equipo 2</option>
						<option ng-repeat="country in euro.countries | orderBy:'name'" value={{country.code}}>{{country.name}}</option>
					</select>
				</div>
				<div class="input-field col s3 m3 away">
					<input id="scorer" type="number" class="validate text-center" ng-model="euro.match.team_2_score">
				</div>
				<div class="input-field col s12">
					<textarea id="textarea3" class="materialize-textarea" rows="1" ng-model="euro.match.comment" length="80" maxLength="80"></textarea>
					<label for="textarea3">Comentario</label>
				</div>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendMatch('EURO')">Enviar</a>
			</div>
		</div>


	</div>
</div>
