<!DOCTYPE html>
<html>
<head>
	<% include ../partials/admin-head %> 
</head>
<body ng-app="app" class="admin">
	<div class="main">
		<div class="row">
			<div class="col m4 offset-m4 s12 main-container">
				<div class="nav-btn fixed-action-btn horizontal click-to-toggle">
					<a class="btn-floating btn-large red">
						<i class="large material-icons">menu</i>
					</a>
					<ul>
						<li><a ui-sref="messages" class="btn-floating red"><i class="material-icons">textsms</i></a></li>
						<li><a ui-sref="config" class="btn-floating blue"><i class="material-icons">settings</i></a></li>
					</ul>
				</div>
				<div ui-view></div>
			</div>
		</div>
		
	</div>
</div>







<% include ../partials/admin-scripts %> 
</body>
</html>