<!DOCTYPE html>
<html>
<head>
	<% include ../partials/admin-head %>
</head>
<body ng-app="app" class="admin">
	<div class="main" ng-controller="mainController">
		<div class="row">
			<div class="col m4 offset-m4 s12">
				<div class="header-btns">
					<ul class="tabs red lighten-1">
						<li class="tab col s3"><a class="active white-text" href="#reqs" ng-click="active_card = 'text'">Texto</a></li>
						<li class="tab col s3"><a class="white-text" href="#resources" ng-click="active_card = 'goal'">Gol</a></li>
						<li class="tab col s3"><a class="white-text" href="#constants" ng-click="active_card = 'match'">Partido</a></li>
					</ul>
				</div>
				<div class="content-slider">
					<div class="wrapper">
						<div class="card" ng-show="active_card == 'text'">
							<div class="card-content row">
								<div class="input-field col s12">
									<textarea id="textarea1" class="materialize-textarea" rows="1" ng-model="text.text"></textarea>
									<label for="textarea1">Mensaje</label>
								</div>
							</div>
							<div class="card-action">
								<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendText()">Enviar</a>
							</div>
						</div>
						<div class="card" ng-show="active_card == 'goal'">
							<div class="card-content row">
								<div class="input-field col s12">
									<input placeholder="" id="scorer" type="text" class="validate" ng-model="goal.scorer_name">
									<label for="scorer">Jugador que marcó el gol</label>
								</div>
								<div class="input-field col s9 m9">
									<select class="icons" ng-model="goal.scorer_country">
										<option value="" disabled selected>Seleccione el equipo</option>
										<option value="Bolivia" data-icon="imgs/flag.png" class="left circle">Bolivia</option>
										<option value="Colombia" data-icon="imgs/flag.png" class="left circle">Colombia</option>
										<option value="Ecuador" data-icon="imgs/flag.png" class="left circle">Ecuador</option>
									</select>
									<label>Equipo que marcó el gol</label>
								</div>
								<div class="input-field col s3">
									<input placeholder="" id="scorer" type="number" class="validate" ng-model="goal.minute">
									<label for="scorer">Minuto</label>
								</div>
								<h6>Nuevo marcador</h6>
								<div class="input-field col s9 m9">
									<p class="team-1">{{goal.scorer_country ? goal.scorer_country:'Equipo 1'}}</p>
								</div>
								<div class="input-field col s3 m3">
									<input id="scorer" type="number" class="validate text-center" ng-model="goal.team_1_score">
								</div>
								<div class="input-field col s9 m9 away">
									<select class="icons" ng-model="goal.team_2">
										<option value="" disabled selected>Equipo 2</option>
										<option value="Bolivia" data-icon="imgs/flag.png" class="left circle">Bolivia</option>
										<option value="Colombia" data-icon="imgs/flag.png" class="left circle">Colombia</option>
										<option value="Ecuador" data-icon="imgs/flag.png" class="left circle">Ecuador</option>
									</select>
								</div>
								<div class="input-field col s3 m3 away">
									<input id="scorer" type="number" class="validate text-center" ng-model="goal.team_2_score">
								</div>
							</div>
							<div class="card-action">
								<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendGoal()">Enviar</a>
							</div>
						</div>
						<div class="card" ng-show="active_card == 'match'">
							<div class="card-content row">
								<div class="input-field col s9 m9 away">
									<select class="icons" ng-model="match.team_1">
										<option value="" disabled selected>Equipo 1</option>
										<option value="Bolivia" data-icon="imgs/flag.png" class="left circle">Bolivia</option>
										<option value="Colombia" data-icon="imgs/flag.png" class="left circle">Colombia</option>
										<option value="Ecuador" data-icon="imgs/flag.png" class="left circle">Ecuador</option>
									</select>
								</div>
								<div class="input-field col s3 m3 away">
									<input id="scorer" type="number" class="validate text-center" ng-model="match.team_1_score">
								</div>
								<div class="input-field col s9 m9 away">
									<select class="icons" ng-model="match.team_2">
										<option value="" disabled selected>Equipo 2</option>
										<option value="Bolivia" data-icon="imgs/flag.png" class="left circle">Bolivia</option>
										<option value="Colombia" data-icon="imgs/flag.png" class="left circle">Colombia</option>
										<option value="Ecuador" data-icon="imgs/flag.png" class="left circle">Ecuador</option>
									</select>
								</div>
								<div class="input-field col s3 m3 away">
									<input id="scorer" type="number" class="validate text-center" ng-model="match.team_2_score">
								</div>
								<div class="input-field col s12">
									<textarea id="textarea1" class="materialize-textarea" rows="1" ng-model="match.comment"></textarea>
									<label for="textarea1">Comentario</label>
								</div>
							</div>
							<div class="card-action">
								<a class="waves-effect waves-light btn-large indigo accent-2" ng-click="sendMatch()">Enviar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>







	<% include ../partials/admin-scripts %> 
</body>
</html>