<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class="index">
		<div class="wrapper container">
			<div class="inner">
				<h1>Capp América</h1>
				<h2>Bot de Facebook</h2>
				<h3>Recibe las notificaciones de los goles y resultados finales de todos los partidos de la Copa América Centenario 2016. <br> <span>No necesitas descargar ninguna aplicación, simplemente <b>envía a mensaje saludándonos a nuestra página de Facebook </b>y recibirás toda la información como mensajes en Messenger.</span></h3>
				<a href="https://www.facebook.com/Capp-América-Bot-658787844294563" target="_blank" class="waves-effect waves-light btn-large indigo accent-2">Empezar</a>
			</div>
		</div>
</body>
</html>
